In [1]:
# Importing Dataset
dir =  '../../Machine Learning A-Z (Codes and Datasets)/Part 3 - Classification/Section 14 - Logistic Regression/R/Social_Network_Ads.csv'
dataset = read.csv(dir)

In [2]:
dataset

    User.ID  Gender Age EstimatedSalary Purchased
1   15624510 Male   19   19000          0
2   15810944 Male   35   20000          0
3   15668575 Female 26   43000          0
4   15603246 Female 27   57000          0
5   15804002 Male   19   76000          0
6   15728773 Male   27   58000          0
7   15598044 Female 27   84000          0
8   15694829 Female 32  150000          1
9   15600575 Male   25   33000          0
10  15727311 Female 35   65000          0
11  15570769 Female 26   80000          0
12  15606274 Female 26   52000          0
13  15746139 Male   20   86000          0
14  15704987 Male   32   18000          0
15  15628972 Male   18   82000          0
16  15697686 Male   29   80000          0
17  15733883 Male   47   25000          1
18  15617482 Male   45   26000          1
19  15704583 Male   46   28000          1
20  15621083 Female 48   29000          1
21  15649487 Male   45   22000          1
22  15736760 Female 47   49000          1
23  15714658 Male   48   41000          1
24  15599081 Female 45   22000          1
25  15705113 Male   46   23000          1
26  15631159 Male   47   20000          1
27  15792818 Male   49   28000          1
28  15633531 Female 47   30000          1
29  15744529 Male   29   43000          0
30  15669656 Male   31   18000          0
... ...      ...    ... ...             ...
371 15611430 Female 60   46000          1
372 15774744 Male   60   83000          1
373 15629885 Female 39   73000          0
374 15708791 Male   59  130000          1
375 15793890 Female 37   80000          0
376 15646091 Female 46   32000          1
377 15596984 Female 46   74000          0
378 15800215 Female 42   53000          0
379 15577806 Male   41   87000          1
380 15749381 Female 58   23000          1
381 15683758 Male   42   64000          0
382 15670615 Male   48   33000          1
383 15715622 Female 44  139000          1
384 15707634 Male   49   28000          1
385 15806901 Female 57   33000          1
386 15775335 Male   56   60000          1
387 15724150 Female 49   39000          1
388 15627220 Male   39   71000          0
389 15672330 Male   47   34000          1
390 15668521 Female 48   35000          1
391 15807837 Male   48   33000          1
392 15592570 Male   47   23000          1
393 15748589 Female 45   45000          1
394 15635893 Male   60   42000          1
395 15757632 Female 39   59000          0
396 15691863 Female 46   41000          1
397 15706071 Male   51   23000          1
398 15654296 Female 50   20000          1
399 15755018 Male   36   33000          0
400 15594041 Female 49   36000          1

In [3]:
dataset = dataset[3:5]

In [4]:
dataset$Purchased = factor(dataset$Purchased, levels = c(0, 1))

In [5]:
library('caTools')
set.seed(123)

In [6]:
split = sample.split(dataset$Purchased, SplitRatio=0.75 )
training_set = subset(dataset, split == TRUE)
test_set = subset(dataset, split==FALSE)

In [7]:
#Feature Scaling
training_set[-3] = scale(training_set[-3])
test_set[-3] = scale(test_set[-3])

In [8]:
nrow(dataset)
nrow(training_set)
nrow(test_set)

[1] 400

[1] 300

[1] 100

In [9]:
test_set

    Age         EstimatedSalary Purchased
2   -0.30419063 -1.5135434      0
4   -1.05994374 -0.3245603      0
5   -1.81569686  0.2859986      0
9   -1.24888202 -1.0957926      0
12  -1.15441288 -0.4852337      0
18   0.64050076 -1.3207353      1
19   0.73496990 -1.2564660      1
20   0.92390818 -1.2243313      1
22   0.82943904 -0.5816377      1
29  -0.87100546 -0.7744458      0
32  -1.05994374  2.2462141      1
34  -0.96547460 -0.7423111      0
35  -1.05994374  0.7358842      0
38  -0.77653633 -0.5816377      0
45  -0.96547460  0.5430761      0
46  -1.43782030 -1.5135434      0
48  -1.05994374 -0.4209643      0
52  -1.91016600 -0.7423111      0
66  -1.34335116 -0.2924256      0
69  -1.53228944 -0.1317522      0
74  -0.49312891  1.4749818      0
75  -0.58759805 -1.5778127      0
82   0.07368593 -0.8065804      0
84  -0.30419063  0.6716148      0
85  -0.77653633 -0.1638869      0
86  -0.68206719  1.6356552      1
87  -1.34335116 -0.3888296      0
89  -1.15441288  0.4466720      0
103 -0.58759805  0.6073454      0
104 -0.49312891  2.6318302      1
... ...         ...             ...
281  1.96306872  0.67161480     1
286 -0.11525235  0.83228819     1
292  1.01837732  0.70374947     1
299  0.64050076  0.38240268     0
302  0.92390818  0.22172929     1
305  0.16815507 -0.22815622     0
307  1.20731560  2.14981004     0
310 -0.02078321 -0.54950301     0
316  0.07368593  0.25386397     1
324  0.92390818 -1.19219660     1
326  0.26262421 -0.22815622     0
332  0.92390818  1.66778985     1
339 -0.02078321 -0.38882962     0
341  1.39625388  1.18576966     1
343 -0.02078321 -0.06748283     0
347  1.39625388  0.15745993     1
353  0.35709335  0.73588415     1
363  0.82943904 -0.54950301     1
364  0.35709335  0.38240268     0
367  1.86859958 -0.64590705     1
368  0.73496990  0.67161480     1
369 -0.02078321  0.12532525     0
372  2.05753786  0.51094140     1
373  0.07368593  0.18959461     0
380  1.86859958 -1.41713935     1
383  0.54603163  2.31048343     1
389  0.82943904 -1.06365788     1
392  0.82943904 -1.41713935     1
395  0.07368593 -0.26029090     0
400  1.01837732 -0.99938852     1

In [10]:
classifier = glm(formula = Purchased ~ Age + EstimatedSalary,
                 family = binomial,
                 data = training_set)

In [11]:
prob_pred = predict(classifier, type = 'response', newdata=test_set[-4])

In [12]:
y_pred = ifelse(prob_pred > 0.5, 1, 0)

In [13]:
table(test_set$Purchased)

 0  1
64 36

In [14]:
table(y_pred)

y_pred
 0  1
67 33

In [15]:
mean(y_pred == test_set$Purchased)

[1] 0.83

In [16]:
summary(classifier)

Call:
glm(formula = Purchased ~ Age + EstimatedSalary, family = binomial,
    data = training_set)

Deviance Residuals:
    Min       1Q   Median       3Q      Max
-3.0753  -0.5235  -0.1161   0.3224   2.3977

Coefficients:
                Estimate Std. Error z value Pr(>|z|)
(Intercept)      -1.1923     0.2018  -5.908 3.47e-09 ***
Age               2.6324     0.3461   7.606 2.83e-14 ***
EstimatedSalary   1.3947     0.2326   5.996 2.03e-09 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 390.89  on 299  degrees of freedom
Residual deviance: 199.78  on 297  degrees of freedom
AIC: 205.78

Number of Fisher Scoring iterations: 6

In [18]:
cm = table(test_set[,4], y_pred)

ERROR: Error in `[.data.frame`(test_set, , 4): undefined columns selected

In [19]:
cm

ERROR: Error in `[.data.frame`(test_set, , 4): undefined columns selected

In [ ]:
mean(y_pred == test_set$Purchased)

In [ ]:
library(ElemStatLearn)

In [ ]:
set = training_set


X1 = seq(min(set[, 1]) - 1, max(set[, 1]) + 1, by = 0.01)
X2 = seq(min(set[, 2]) - 1, max(set[, 2]) + 1, by = 0.01)
grid_set = expand.grid(X1, X2)

colnames(grid_set) = c('Age', 'EstimatedSalary')

prob_set = predict(classifier, type = 'response', newdata = grid_set)

y_grid = ifelse(prob_set > 0.5, 1, 0)

plot(set[,-3],
     main = 'Logistic Regression (Training set)',
     xlab = 'Age', ylab = 'Estimated Salary',
     xlim = range(X1), ylim = range(X2))
contour(X1, X2, matrix(as.numeric(y_grid), length(X1), length(X2)), add = TRUE)
points(grid_set, pch = '.', col = ifelse(y_grid == 1, 'springgreen3', 'tomato'))
points(set, pch = 21, bg = ifelse(set[, 3] == 1, 'green4', 'red3'))

In [ ]:
set = test_set


X1 = seq(min(set[, 1]) - 1, max(set[, 1]) + 1, by = 0.01)
X2 = seq(min(set[, 2]) - 1, max(set[, 2]) + 1, by = 0.01)
grid_set = expand.grid(X1, X2)

colnames(grid_set) = c('Age', 'EstimatedSalary')

prob_set = predict(classifier, type = 'response', newdata = grid_set)

y_grid = ifelse(prob_set > 0.5, 1, 0)

plot(set[,-3],
     main = 'Logistic Regression (Test set)',
     xlab = 'Age', ylab = 'Estimated Salary',
     xlim = range(X1), ylim = range(X2))
contour(X1, X2, matrix(as.numeric(y_grid), length(X1), length(X2)), add = TRUE)
points(grid_set, pch = '.', col = ifelse(y_grid == 1, 'springgreen3', 'tomato'))
points(set, pch = 21, bg = ifelse(set[, 3] == 1, 'green4', 'red3'))