In [1]:
# Importing Dataset
dir = '../Machine Learning A-Z (Codes and Datasets)/Part 2 - Regression/Section 8 - Decision Tree Regression/R/Position_Salaries.csv'
dataset = read.csv(dir)

In [2]:
dataset

   Position          Level Salary
1  Business Analyst   1      45000
2  Junior Consultant  2      50000
3  Senior Consultant  3      60000
4  Manager            4      80000
5  Country Manager    5     110000
6  Region Manager     6     150000
7  Partner            7     200000
8  Senior Partner     8     300000
9  C-level            9     500000
10 CEO               10    1000000

In [3]:
#Feature Scaling
#training_set[,2:3] = scale(training_set[,2:3])
#test_set[,2:3] = scale(test_set[,2:3])